{% extends 'root.html' %}
{% load static text_block %}

{% block base %}

    	<div class="preloader">
		<div class="preloader_image"></div>
	</div>

	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form" action="/">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit" class=""></button>
			</form>
		</div>
	</div>

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls p-normal">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

		</div>
	</div><!-- eof .modal -->

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->

			<div class="header_absolute cover-background ds s-overlay s-parallax">
				<!--topline section visible only on small screens|-->
				{% include 'head-panel.html' %}
				<!--eof topline-->

				<!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->


            {% block content %}

			<section class="page_slider">
				<div class="flexslider vertical home_slider">
					<ul class="slides">
						<li class="ds s-overlay cover-image text-center">
							<span class="social-icons animate" data-animation="fadeInUp">
								<a href="#" class="fa fa-facebook bg-light border-icon rounded-icon" title="facebook"></a>
								<a href="https://{{ TG }}" class="fa fa-telegram bg-light border-icon rounded-icon" title="telegram"></a>
								<a href="https://{{ VK }}" class="fa fa-vk bg-light border-icon rounded-icon" title="VK"></a>
							</span>
{#							<video muted loop id="myVideo">#}
{#								<source src="images/Travel_Stock_Footage_Reel-HD_4K_Royalty-free.mp4" data-time="74" type="video/mp4">#}
{#							</video>#}
{#							<img src="{% static 'images/slide01.jpg' %}" alt="img">#}
							<img src="{{ SLIDER_IMAGE1 }}" alt="slider1">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="intro_layers_wrapper intro_text_bottom">
											<div class="intro_layers">
												<div class="intro-layer">
													<span class="small-text color-main3">{% text_block 'slider-subtitle-1' %}</span>
												</div>
												<div class="intro-layer mt-10">
													<h2>{% text_block 'slider-title-1' %}</h2>
												</div>
												<div class="divider-35 hidden-below-sm"></div>
												<div class="intro-layer hidden-below-sm">
													{% text_block 'slider-text-1' %}
												</div>
{#												<div class="divider-xl-50"></div>#}
{#												<div class="divider-30 hidden-xl"></div>#}
{#												<div class="intro-layer ">#}
{#													<button class="btn-play">#}
{#														<i class="fa fa-play"></i>#}
{#														<i class="fa fa-pause"></i>#}
{#													</button>#}
{#												</div>#}
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>
						<li class="ds s-overlay cover-image text-center">
							<span class="social-icons animate" data-animation="fadeInUp">
								<a href="#" class="fa fa-facebook bg-light border-icon rounded-icon" title="facebook"></a>
								<a href="#" class="fa fa-twitter bg-light border-icon rounded-icon" title="twitter"></a>
								<a href="#" class="fa fa-google-plus bg-light border-icon rounded-icon" title="google"></a>
							</span>
							<img src="{{ SLIDER_IMAGE2 }}" alt="slider2">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="intro_layers_wrapper intro_text_bottom">
											<div class="intro_layers">
												<div class="intro-layer">
													<span class="small-text color-main3">{% text_block 'slider-subtitle-1' %}</span>
												</div>
												<div class="intro-layer mt-10">
													<h2>{% text_block 'slider-title-1' %}</h2>
												</div>
												<div class="divider-35 hidden-below-sm"></div>
												<div class="intro-layer hidden-below-sm">
													{% text_block 'slider-text-1' %}
												</div>
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>
						<li class="ds s-overlay cover-image text-center">
							<span class="social-icons animate" data-animation="fadeInUp">
								<a href="#" class="fa fa-facebook bg-light border-icon rounded-icon" title="facebook"></a>
								<a href="#" class="fa fa-twitter bg-light border-icon rounded-icon" title="twitter"></a>
								<a href="#" class="fa fa-google-plus bg-light border-icon rounded-icon" title="google"></a>
							</span>
							<img src="{{ SLIDER_IMAGE3 }}" alt="slider3">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="intro_layers_wrapper intro_text_bottom">
											<div class="intro_layers">
												<div class="intro-layer">
													<span class="small-text color-main3">{% text_block 'slider-subtitle-1' %}</span>
												</div>
												<div class="intro-layer mt-10">
													<h2>{% text_block 'slider-title-1' %}</h2>
												</div>
												<div class="divider-35 hidden-below-sm"></div>
												<div class="intro-layer hidden-below-sm">
													{% text_block 'slider-text-1' %}
												</div>
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>
					</ul>
				</div> <!-- eof flexslider -->
			</section>

			<section id="about" class="ls s-pt-70 s-pb-65 s-pt-md-120 s-pb-md-105 s-pb-xl-85 s-pt-xl-65 about-section overflow-visible">
				<div class="divider-80 d-none d-xl-block"></div>
				<div class="image_cover"></div>
				<div class="container">
					<div class="row d-flex justify-content-start">
						<div class="col-12 col-lg-7 col-xl-6 ">
							<p class="top-subtitle">{% text_block 'NAME1' %}</p>
							<h3 class="section-heading">{% text_block 'NAME2' %}<span class="back">{% text_block 'BACKGROUND' %}</span></h3>
							<p class="mt--5">
								{% text_block 'NAME3' %}<span class="underline">{% text_block 'NAME4' %}</span>{% text_block 'NAME5' %}<span class="links-maincolor3">

                            </span>
							</p>

{#							<ul class="list-styled color-darkgrey mt-30">#}
{#								<li>Cruising Destination Ideas</li>#}
{#								<li>Deluxe Moderate And Value Disney</li>#}
{#								<li>France On The Road</li>#}
{#							</ul>#}
						</div>
						<div class="divider-60 d-none d-xl-block"></div>
					</div>
				</div>
			</section>

            {% endblock %}

			{% include 'footer.html' %}


		</div><!-- eof #box_wrapper -->
	</div><!-- eof #canvas -->

{% endblock %}
</div>

