{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
{#<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->#}
{#<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->#}
{#<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->#}
{#<!--[if gt IE 8]><!-->#}
<html class="no-js">
<!--<![endif]-->

<head>
    <title>Mountis</title>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}" class="color-switcher-link">
    <script src="{% static 'js/vendor/modernizr-custom.js' %}"></script>

    <!--[if lt IE 9]>
{#		<script src="js/vendor/html5shiv.min.js"></script>#}
{#		<script src="js/vendor/respond.min.js"></script>#}
{#		<script src="js/vendor/jquery-1.12.4.min.js"></script>#}
	<![endif]-->
    {% block head %}


    {% endblock %}
</head>

<body>
{#	<!--[if lt IE 9]>#}
{#		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>#}
{#	<![endif]-->#}

<div class="preloader">
    <div class="preloader_image pulse"></div>
</div>

<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="widget widget_search">
        <form method="get" class="searchform search-form" action="https://html.modernwebtemplates.com/">
            <div class="form-group">
                <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                       id="modal-search-input">
            </div>
            <button type="submit" class=""></button>
        </form>
    </div>
</div>

<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
    <div class="fw-messages-wrap ls p-normal">
        <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
        <!--
    <ul class="list-unstyled">
        <li>Message To User</li>
    </ul>
    -->

    </div>
</div><!-- eof .modal -->

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
    <div id="box_wrapper">

        <!-- template sections -->

        <div class="header_absolute ds home">
            <!--topline section visible only on small screens|-->
            <section class="page_topline ds s-py-10 c-my-10">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4 col-xl-4">
                            <div class="media">
									<span class="icon-styled ">
										<i class="fa color-main2 fa-phone"></i>
									</span>
                                <div class="media-body">
                                    <span class="small-text">Booking your trip</span>
                                    <p>3 (800) 234 3695</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center hidden-below-md">
                            <a href="index.html" class="logo">
                                <img src="" alt="img">
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-xl-4">
                            <div class="media">
                                <div class="media-body align-items-end">
                                    <span class="small-text">our emailaddress</span>
                                    <p><a href="https://html.modernwebtemplates.com/cdn-cgi/l/email-protection"
                                          class="__cf_email__" data-cfemail="c6aba9b3a8b2afb586a9a0a0afa5a3e8a5a9ab">[email&#160;protected]</a>
                                    </p>
                                </div>
                                <span class="icon-styled ">
										<i class="fa color-main2 fa-pencil"></i>
									</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--eof topline-->
            <!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
            <header class="page_header ls justify-nav-center">
                <div class="container-fluid">
                    <div class="row align-items-lg-end align-items-center">
                        <div class="col-10 col-md-4 hidden-above-md d-flex">
                            <a href="index.html" class="logo">
                                <img src="images/logo.png" alt="img">
                            </a>

                            <div class="media-wrap">
                                <div class="media">
										<span class="icon-styled ">
											<i class="fa color-main2 fa-phone"></i>
										</span>
                                    <div class="media-body">
                                        <span class="small-text">Booking your trip</span>
                                        <p>3 (800) 234 3695</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-body align-items-end">
                                        <span class="small-text">our emailaddress</span>
                                        <p><a href="https://html.modernwebtemplates.com/cdn-cgi/l/email-protection"
                                              class="__cf_email__"
                                              data-cfemail="f5989a809b819c86b59a93939c9690db969a98">[email&#160;protected]</a>
                                        </p>
                                    </div>
                                    <span class="icon-styled ">
											<i class="fa color-main2 fa-pencil"></i>
										</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-1">
                            <!-- main nav start -->
                            <nav class="top-nav">
                                <ul class="nav sf-menu">


                                    <li class="active">
                                        <a href="{% url 'home' %}">HomePage</a>
                                        <ul>
                                            <li>
                                                <a href="{% url 'blog' %}">Blog</a>
                                            </li>

                                            {% if user.is_authenticated %}

                                                <li>
                                                    <a href="{% url 'logout' %}">Logout</a>
                                                </li>

                                            {% else %}

                                                <li>
                                                    <a href="{% url 'login' %}">Login</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="{% url 'shop' %}">Shop</a>
                                        <ul>
                                            <li>
                                                    <a href="{% url 'cart' %}">Cart</a>
                                            </li>
                                            <li>
                                                <a href="contact2.html">Contact 2</a>
                                            </li>
                                            <li>
                                                <a href="contact3.html">Contact 3</a>
                                            </li>
                                            <li>
                                                <a href="contact4.html">Contact 4</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- eof contacts -->
                                    <li>
                                        <a href="booking.html">Booking</a>
                                    </li>
                                </ul>


                            </nav>
                            <!-- eof main nav -->
                        </div>

                    </div>
                </div>
                <!-- header toggler -->
                <span class="toggle_menu"><span></span></span>
            </header>

        </div>
        {% block content %}

        {% endblock %}



        <footer class="page_footer ds s-overlay s-parallax s-pt-80 s-pb-30 s-pb-md-65 s-pt-md-120 s-pt-lg-135 s-pb-xl-110 c-mb-20 c-gutter-60">
            <div class="container">
                <div class="row">
                    <div class=" col-lg-4 text-center animate" data-animation="fadeInUp">
                        <div class="divider-25 d-none d-xl-block"></div>
                        <div class="widget mb-0">

                            <h3 class="widget-title">Newsletter</h3>

                            <p>
                                We promise not to spam!
                            </p>

                            <form class="signup" action="https://html.modernwebtemplates.com/">

                                <input id="mailchimp_email" name="email" type="email"
                                       class="form-control mailchimp_email text-center" placeholder="Email Address">

                                <button type="submit" class="btn btn-outline-maincolor mt-30">
                                    Subscribe
                                </button>
                                <div class="response"></div>
                            </form>

                        </div>
                        <div class="divider-50"></div>
                    </div>

                    <div class=" col-lg-4 text-center animate" data-animation="fadeInUp">
                        <div class="widget widget_icons_list">
                            <a href="index.html" class="logo flex-column text-center pb-0">
                                <img src="images/logo.png" alt="logo">
                            </a>
                            <p>We are one of San Diego's most active social groups. Every month we create a variety of
                                fun & interesting events.</p>
                            <ul class="mb-10">
                                <li class="icon-inline">
                                    <div class="icon-styled icon-top color-main fs-14">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <p>192 Lemke Stream, San Diego, USA</p>
                                </li>
                                <li class="icon-inline">
                                    <div class="icon-styled icon-top color-main fs-14">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <p>+8 (800) 247 2698 (operator)</p>
                                </li>
                                <li class="icon-inline">
                                    <div class="icon-styled icon-top color-main fs-14">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    <p>
                                        <a href="#"><span class="__cf_email__"
                                                          data-cfemail="e28f8d978c968b91bd96908b92a2879a838f928e87cc818d8f">[email&#160;protected]</span></a>
                                    </p>
                                </li>
                            </ul>
                            <span class="social-icons">
									<a href="#" class="fa fa-facebook bg-light border-icon rounded-icon"
                                       title="facebook"></a>
									<a href="#" class="fa fa-twitter bg-light border-icon rounded-icon"
                                       title="twitter"></a>
									<a href="#" class="fa fa-google bg-light border-icon rounded-icon"
                                       title="google"></a>
								</span>
                        </div>
                    </div>

                    <div class="col-lg-4 animate" data-animation="fadeInUp">
                        <div class="divider-25 d-none d-xl-block"></div>
                        <div class="widget widget_instagram">
                            <h3 class="widget-title">Instagram</h3>
                            <div class="instafeed"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <section class="page_copyright ls s-py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="divider-20 d-none d-lg-block"></div>
                    <div class="divider-10 d-none d-md-block"></div>
                    <div class="col-md-12 text-center">
                        <p>&copy; Copyright <span class="copyright_year">2018</span> All Rights Reserved</p>
                    </div>
                    <div class="divider-20 d-none d-lg-block"></div>
                    <div class="divider-10 d-none d-md-block"></div>
                </div>
            </div>

        </section>
    </div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->


<script data-cfasync="false"
        src="https://html.modernwebtemplates.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'js/compressed.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{#<script src="{% static 'js/switcher.js' %}"></script>#}
{% block scripts %}{% endblock %}
</body>


<!-- Mirrored from html.modernwebtemplates.com/mountis/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Sep 2023 12:46:36 GMT -->
</html>