{% extends 'base.html' %}
{% load thumbnail %}

{% block head %}
    <style>
        .truncate {
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}

{% block page-title %}
BLOG
{% endblock %}

{% block content %}


{#    <section class="page_title ds s-py-5">#}
{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#                <div class="col-md-12 text-center">#}
{#                    <h1 class="bold">Without Sidebar</h1>#}
{#                    <ol class="breadcrumb">#}
{#                        <li class="breadcrumb-item">#}
{#                            <a href="index.html">Home</a>#}
{#                        </li>#}
{#                        <li class="breadcrumb-item">#}
{#                            <a href="#">Tips & Tricks</a>#}
{#                        </li>#}
{#                        <li class="breadcrumb-item active">#}
{#                            Without Sidebar#}
{#                        </li>#}
{#                    </ol>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    </div>#}

    <section class="ls s-py-80 s-py-md-120 s-py-xl-160">
        <div class="container">

            <div class="row c-gutter-60">

                <main class="offset-lg-1 col-lg-10">

                    {% for blogs in blog %}



                        <article class="post side-item content-padding">
{#                            <i class="fa fa-thumb-tack" aria-hidden="true"></i>#}
                            <div class="item-wrap">
                                <div class="item-media cover-image">
                                    <img src="{% thumbnail blogs.images.first.image 420x236 %}" alt="img">
{#                                    <img src="{{ blogs.images.first.image.url }}" alt="img">#}
                                    <div class="media-links">
                                        <a class="abs-link" title="" href="{% url 'article' pk=blogs.pk %}"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="item-content">
                                <h5>
                                    <a href="{% url 'article' pk=blogs.pk %}">{{ blogs.article_title }}</a>
                                </h5>

                                <p class="truncate"> {{ blogs.article_text }}</p>
                                <p class="item-meta flex-wrap d-flex ">
                                    <a href="{% url 'article' pk=blogs.pk %}"><i
                                            class="fa fa-calendar color-main3"></i>{{ blogs.published }}
                                    </a>
                                    {#                                <a href="blog-full.html"><i class="fa fa-tags color-main3"></i>travel</a>#}
                                    {#                                <a href="blog-single-full.html"><i class="fa fa-user color-main3"></i>Floyd Powers</a>#}
                                </p>
                            </div>
                        </article>
                    {% endfor %}


                    <div class="divider-60"></div>

                    <div>
                        <nav class="navigation pagination " role="navigation">
                            <h2 class="screen-reader-text">Posts navigation</h2>
                            <div class="nav-links">
                                <a class="prev page-numbers" href="gallery-right.html">
                                    <i class="fa fa-chevron-left"></i>
                                    <span class="screen-reader-text">Previous page</span>
                                </a>
                                <span class="page-numbers current">
											<span class="meta-nav screen-reader-text">Page </span>
											1
										</span>
                                <a class="page-numbers" href="gallery-right.html">
                                    <span class="meta-nav screen-reader-text">Page </span>
                                    ..
                                </a>
                                <a class="page-numbers" href="gallery-right.html">
                                    <span class="meta-nav screen-reader-text">Page </span>
                                    5
                                </a>
                                <a class="next page-numbers" href="gallery-right.html">
                                    <span class="screen-reader-text">Next page</span>
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </nav>
                    </div>
                </main>

            </div>

        </div>
    </section>

{% endblock %}