{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}


			<section class="ls s-py-80 s-py-md-120 s-py-xl-160 c-gutter-60">
				<div class="container">
					<div class="row">
                        <div class="col-md-12 pt-4">
                            {% for image in images %}
                                <img src="{{ image.image.url }}" width="300">
                            {% endfor %}

                        </div>
						<main class="offset-lg-1 col-lg-10" style="display: none">
                            <article class="vertical-item hero-bg post type-post status-publish format-standard has-post-thumbnail">
								<!-- .post-thumbnail -->
								<div class="item-media overflow-visible">
									<div class="owl-carousel" data-margin="0" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1" data-dots="true">
										<a href="images/gallery/01_big.jpg" class="photoswipe-link gradientdarken-background" data-width="1170" data-height="780">
											<img src="{% thumbnail object.article_image 420x236 %}" alt="img">
										</a>
										<a href="images/gallery/02_big.jpg" class="photoswipe-link gradientdarken-background" data-width="1170" data-height="780" data-iframe="https://www.youtube.com/embed/mcixldqDIEQ">
											<img src="{{ object.article_image.url }}" alt="img">
										</a>
										<a href="images/gallery/03_big.jpg" class="photoswipe-link gradientdarken-background" data-width="1170" data-height="780" data-iframe="//player.vimeo.com/video/1084537">
											<img src="images/gallery/03_big.jpg" alt="img">
										</a>
									</div>
									<div class="post-adds">
										<div class="post-img">
											<img src="images/events/comment_5.jpg" alt="img">
										</div>
										<div class="view-count-wrap">
											<div class="view-count-wrap-child">
												<span class="views-count">
													<i class="fa fa-user" aria-hidden="true"></i>
													<span class="item-views-count">Marion Figueroa</span>
												</span>
												<span class="views-count">
													<i class="fa fa-calendar" aria-hidden="true"></i>
													<span class="item-views-count">22 mar, 18</span>
												</span>
												<span class="views-count">
													<i class="fa fa-tags" aria-hidden="true"></i>
													<span class="item-views-count">tourism, Track</span>
												</span>
											</div>
											<div class="view-count-wrap-child">
												<span class="views-count">
													<i class="fa fa-eye" aria-hidden="true"></i>
													<span class="item-views-count">325</span>
												</span>
												<span class="views-count">
													<i class="fa fa-comments" aria-hidden="true"></i>
													<span class="item-likes-count">125</span>
												</span>
												<span class="views-count">
													<i class="fa fa-heart" aria-hidden="true"></i>
													<span class="item-likes-count">300</span>
												</span>
											</div>
										</div>
										<div class="dropdown inline-block">
											<a href="#" data-target="#" class="share_button" id="share_button_@@id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-share-alt" aria-hidden="true"></i>
											</a>
											<div class="dropdown-menu" aria-labelledby="share_button_@@id">
												<div class="share_buttons">
													<a href="https://www.facebook.com/sharer.php?u=http://example.com" class="color-bg-icon fa fa-facebook" target="_blank"></a>
													<a href="https://twitter.com/intent/tweet?url=http://example.com" class="color-bg-icon fa fa-twitter" target="_blank"></a>
													<a href="https://plus.google.com/share?url=http://example.com" class="color-bg-icon fa fa-google" target="_blank"></a>
													<a href="https://pinterest.com/pin/create/bookmarklet/?url=http://example.com" class="color-bg-icon fa fa-pinterest" target="_blank"></a>
													<a href="https://www.linkedin.com/shareArticle?url=http://example.com" class="color-bg-icon fa fa-linkedin" target="_blank"></a>
													<a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http://example.com" class="color-bg-icon fa fa-tumblr" target="_blank"></a>
													<a href="https://reddit.com/submit?url=http://example.com" class="color-bg-icon fa fa-reddit" target="_blank"></a>
												</div><!-- eof .share_buttons -->
											</div><!-- eof .dropdown-menu -->
										</div><!-- eof .dropdown -->
									</div>
								</div>


								<div class="item-content">
									<!-- .entry-header -->

									<div class="entry-content">
										<p>
											Capicola ham andouille drumstick spare ribs ribeye turducken tri-tip, pork chop pork loin. Filet mignon ball tip ham jowl, alcatra tenderloin burgdoggen pastrami capicola pork belly buffalo. Shankle landjaeger capicola tongue burgdoggen pork doner pig chicken ball tip cow spare ribs turducken. Fatback pork belly shank, andouille tongue buffalo picanha ham hock frankfurter.
										</p>

										<p>
											Andouille rump beef ribs, drumstick landjaeger strip steak ground round tri-tip t-bone porchetta fatback venison boudin. Shank kielbasa turducken bacon shoulder. Shank alcatra bacon, jowl chicken leberkas short ribs short loin flank. Rump salami turducken, flank drumstick sausage pork loin beef boudin. Chicken pork belly salami turkey chuck jowl pork.

										</p>


										<blockquote class="special-quote">

											<p>
												«Doner kevin sirloin t-bone prosciutto leberkas swine pork belly pork chop frankfurter andouille. Shankle kielbasa salami tenderloin corned beef
												sausage cupim sirloin bacon beef ribs.»
											</p>
											<h4>Elmer Morrison</h4>
											<p class="small-text color-main3 text-left">
												Manager
											</p>
										</blockquote>

										<p>
											Strip steak tenderloin ball tip, salami t-bone tail frankfurter boudin. Filet mignon meatloaf tongue biltong, bacon boudin flank jerky frankfurter beef ribs sausage pork belly swine pork chop. Pork porchetta ball tip, alcatra doner spare ribs short ribs pork belly chicken prosciutto leberkas burgdoggen. Pork belly picanha corned beef fatback landjaeger ham.
										</p>

										<div class="row isotope-wrapper masonry-layout c-mb-10 c-gutter-10 mt-30 mb-20">
											<div class="col-md-4"><img src="images/gallery-grid/19.jpg" alt="img"></div>
											<div class="col-md-4"><img src="images/gallery-grid/20.jpg" alt="img"></div>
											<div class="col-md-4"><img src="images/gallery-grid/21.jpg" alt="img"></div>
											<div class="col-md-4"><img src="images/gallery-grid/23.jpg" alt="img"></div>
											<div class="col-md-4"><img src="images/gallery-grid/22.jpg" alt="img"></div>
										</div>

										<p>
											Andouille short ribs kevin jerky rump pig hamburger chuck strip steak landjaeger porchetta ground round t-bone pork loin meatball. Tail pork loin fatback pork chop ham brisket andouille, beef kielbasa flank bacon t-bone rump cupim sirloin.
										</p>

										<p>
											Capicola burgdoggen brisket pastrami short ribs tongue swine ground round. Ham porchetta chuck, tail pig landjaeger sirloin rump ground round cow.
										</p>

										<ul class="list-styled mb-0">
											<li>Cruising Destination Ideas</li>
											<li>Deluxe Moderate And Value Disney</li>
											<li>France On The Road</li>
										</ul>
										<div class="mt--10"></div>
									</div>
									<!-- .entry-content -->
								</div>
								<!-- .item-content -->
							</article>

							<div class="mt--20"></div>

							<nav class="navigation post-nav" role="navigation">
								<h2 class="screen-reader-text">Post navigation</h2>
								<div class="nav-links">
									<div class="nav-previous cover-image s-overlay ds">
										<div class="post-nav-image">
											<img src="images/gallery/02_nav.jpg" alt="img">
										</div>

										<div class="post-nav-text-wrap">
											<span class="screen-reader-text">prev</span>
											<span aria-hidden="true" class="nav-subtitle color-main3">Previous Post</span>

											<h5 class="nav-title">
												Last Minute Festive Packages From Superbreak
											</h5>
										</div>
										<a href="blog-single-right.html" rel="prev"></a>
									</div>
									<div class="nav-next cover-image s-overlay ds">
										<div class="post-nav-image">
											<img src="images/gallery/01_nav.jpg" alt="img">
										</div>

										<div class="post-nav-text-wrap">
											<span class="screen-reader-text">next</span>
											<span aria-hidden="true" class="nav-subtitle color-main3">Next Post</span>

											<h5 class="nav-title">
												Stu Unger Rise And Fall Of A Poker Genius
											</h5>
										</div>
										<a href="blog-single-right.html" rel="next"></a>
									</div>
								</div>
							</nav>

							<div class="item-media post overflow-visible mt-60">
								<div class="owl-carousel" data-autoplay="true" data-margin="20" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="1" data-responsive-xs="1" data-nav="false" data-dots="false">
									<div class="vertical-item item-gallery content-absolute ds">
										<div class="item-media">
											<img src="images/events/15.jpg" alt="img">
											<div class="media-links"></div>
										</div>
										<div class="item-content">
											<h5>
												<a href="event-single-full.html">Traveling To Barcelona With Your Friends</a>
											</h5>
											<div class="item-meta">
												<i class="fa fa-calendar"></i>
												20 mar, 18
											</div>
										</div>
									</div>
									<div class="vertical-item item-gallery content-absolute ds">
										<div class="item-media">
											<img src="images/events/01.jpg" alt="img">
											<div class="media-links"></div>
										</div>
										<div class="item-content">
											<h5>
												<a href="event-single-full.html">Choosing A Static Caravan</a>
											</h5>
											<div class="item-meta">
												<i class="fa fa-calendar"></i>
												22 mar, 18
											</div>
										</div>
									</div>
									<div class="vertical-item item-gallery content-absolute ds">
										<div class="item-media">
											<img src="images/events/16.jpg" alt="img">
											<div class="media-links"></div>
										</div>
										<div class="item-content">
											<h5>
												<a href="event-single-full.html">Do A Sporting Stag Do In Birmingham</a>
											</h5>
											<div class="item-meta">
												<i class="fa fa-calendar"></i>
												25 mar, 18
											</div>
										</div>
									</div>
									<div class="vertical-item item-gallery content-absolute ds">
										<div class="item-media">
											<img src="images/events/15.jpg" alt="img">
											<div class="media-links"></div>
										</div>
										<div class="item-content">
											<h5>
												<a href="event-single-full.html">Traveling To Barcelona With Your Friends</a>
											</h5>
											<div class="item-meta">
												<i class="fa fa-calendar"></i>
												20 mar, 18
											</div>
										</div>
									</div>
								</div>
							</div>

							<div id="comments" class="comments-area hero-bg">

								<h4 class="comments-title">
									Comments On This Topic
								</h4>

								<ol class="comment-list">
									<li class="comment">
										<article class="comment-body">
											<footer class="comment-meta">
												<div class="comment-author vcard">
													<img alt="img" src="images/events/comment_1.jpg">
													<h4>Frederick Hawkins</h4>
													<span class="reply">
														<a rel="nofollow" class="comment-reply-link small-text" href="#respond" aria-label="Reply to John Doe">reply</a>
													</span>
													<span class="small-text">
														<i class="fa fa-calendar color-main3"></i>
														20 mar, 18 at 18:13
													</span>
												</div>
												<!-- .comment-author -->
												<!-- .comment-metadata -->
											</footer>
											<!-- .comment-meta -->

											<div class="comment-content">
												<p>Tenderloin ground round beef ribs, bresaola shoulder ham hock pig turkey sirloin. Cow cupim bresaola pastrami. Pig flank buffalo.</p>
											</div>
											<!-- .comment-content -->


										</article>
										<!-- .comment-body -->
										<ol class="children">
											<li class="comment">
												<article class="comment-body">
													<footer class="comment-meta">
														<div class="comment-author vcard">
															<img alt="img" src="images/events/comment_2.jpg">
															<h4>Maggie Hamilton</h4>
															<span class="reply">
																<a rel="nofollow" class="comment-reply-link small-text" href="#respond" aria-label="Reply to John Doe">reply</a>
															</span>
															<span class="small-text text-left">
																<i class="fa fa-calendar color-main3"></i>
																20 mar, 18 at 18:28
															</span>
														</div>
														<!-- .comment-author -->
														<!-- .comment-metadata -->
													</footer>
													<!-- .comment-meta -->

													<div class="comment-content">
														<p>Corned beef turducken strip steak tenderloin filet mignon, pork belly tri-tip buffalo landjaeger tail beef shoulder. </p>
													</div>
													<!-- .comment-content -->


												</article>
												<!-- .comment-body -->
												<ol class="children">
													<li class="comment">
														<article class="comment-body">
															<footer class="comment-meta">
																<div class="comment-author vcard">
																	<img alt="img" src="images/events/comment_3.jpg">
																	<h4>Lucas Neal</h4>
																	<span class="reply">
																		<a rel="nofollow" class="comment-reply-link small-text" href="#respond" aria-label="Reply to John Doe">reply</a>
																	</span>
																	<span class="small-text text-left">
																		<i class="fa fa-calendar color-main3"></i>
																		20 mar, 18 at 18:36
																	</span>
																</div>
																<!-- .comment-author -->
																<!-- .comment-metadata -->
															</footer>
															<!-- .comment-meta -->

															<div class="comment-content">
																<p>Tri-tip frankfurter sirloin beef t-bone landjaeger shoulder pancetta meatloaf prosciutto.</p>
															</div>
															<!-- .comment-content -->


														</article>
														<!-- .comment-body -->

													</li>
													<!-- #comment-## -->
												</ol>
												<!-- .children -->
											</li>
											<!-- #comment-## -->
										</ol>
										<!-- .children -->
									</li>
									<!-- #comment-## -->
								</ol>
								<!-- .comment-list -->


								<div id="respond" class="comment-respond ms">
									<h4 id="reply-title" class="comment-reply-title text-normal">Leave a Comment</h4>
									<form class="contact-form c-mb-20 c-gutter-20" method="post" action="https://html.modernwebtemplates.com/">

										<div class="form-group has-placeholder">
											<label for="name">Full Name <span class="required">*</span></label>
											<input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Full Name">
										</div>

										<div class="form-group has-placeholder">
											<label for="email">Email address<span class="required">*</span></label>
											<input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email Address">
										</div>

										<div class="form-group has-placeholder">
											<label for="phone">Phone<span class="required">*</span></label>

											<input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control" placeholder="Phone Number">
										</div>

										<div class="form-group has-placeholder">
											<label for="message">Message</label>

											<textarea aria-required="true" rows="4" cols="45" name="message" id="message" class="form-control" placeholder="Your Comment"></textarea>
										</div>


										<div class="row mt-30">

											<div class="col-sm-12 text-left">

												<div class="form-group buttons-group">
													<button type="submit" id="contact_form_submit" name="contact_submit" class="btn btn-maincolor">Send Comments
													</button>
													<button type="reset" class="btn btn-outline-maincolor">Clear Form
													</button>
												</div>
											</div>

										</div>

									</form>
								</div>
								<!-- #respond -->

							</div>

						</main>

					</div>

				</div>
			</section>
{% endblock %}