{% extends 'base.html' %}
{% load thumbnail %}

{% block page-title %}
{{ object.article_title }}
{% endblock %}

{% block content %}
{#     <div class="art-title pb-5">#}
{#         <h1>{{ object.article_title }}</h1>#}
{#     </div>#}

    <section class="ls s-py-80 s-py-md-120 s-py-xl-160 c-gutter-60">
        <div class="container">
            {#					<div class="row">#}
            {#                        <div class="col-md-12 pt-4">#}
            {#                            {% for image in images %}#}
            {#                                <img src="{{ image.image.url }}" width="300">#}
            {#                            {% endfor %}#}
            {##}
            {#                        </div>#}
            <main class="offset-lg-1 col-lg-10">
                <article class="vertical-item hero-bg post type-post status-publish format-standard has-post-thumbnail">
                    <!-- .post-thumbnail -->
                    <div class="item-media overflow-visible">
                        <div class="owl-carousel" data-margin="0" data-responsive-lg="1" data-responsive-md="1"

                             data-responsive-sm="1" data-responsive-xs="1" data-dots="true">
                            {% for image in images %}

                                <a href="#" class="photoswipe-link gradientdarken-background" data-width="1170"
                                   data-height="780">

                                    {#											<img src="{{ image.image.url }}" alt="img">#}
                                    <img src="{% thumbnail image.image 900x900 %}" alt="img">
                                </a>
                            {% endfor %}

                            {#										<a href="images/gallery/02_big.jpg" class="photoswipe-link gradientdarken-background" data-width="1170" data-height="780" data-iframe="https://www.youtube.com/embed/mcixldqDIEQ">#}
                            {#											<img src="{{ object.article_image.url }}" alt="img">#}
                            {#										</a>#}
                            {#										<a href="images/gallery/03_big.jpg" class="photoswipe-link gradientdarken-background" data-width="1170" data-height="780" data-iframe="//player.vimeo.com/video/1084537">#}
                            {#											<img src="images/gallery/03_big.jpg" alt="img">#}
                            {#										</a>#}
                        </div>
{#                        <div class="post-adds">#}
{#                            <div class="view-count-wrap">#}
{#                                <div class="view-count-wrap-child">#}
{#												<span class="views-count">#}
{#													<i class="fa fa-user" aria-hidden="true"></i>#}
{#													<span class="item-views-count">Marion Figueroa</span>#}
{#												</span>#}
{#                                    <span class="views-count">#}
{#													<i class="fa fa-calendar" aria-hidden="true"></i>#}
{#													<span class="item-views-count">22 mar, 18</span>#}
{#												</span>#}
{#                                    <span class="views-count">#}
{#													<i class="fa fa-tags" aria-hidden="true"></i>#}
{#													<span class="item-views-count">tourism, Track</span>#}
{#												</span>#}
{#                                </div>#}
{#                                <div class="view-count-wrap-child">#}
{#												<span class="views-count">#}
{#													<i class="fa fa-eye" aria-hidden="true"></i>#}
{#													<span class="item-views-count">325</span>#}
{#												</span>#}
{#                                    <span class="views-count">#}
{#													<i class="fa fa-comments" aria-hidden="true"></i>#}
{#													<span class="item-likes-count">125</span>#}
{#												</span>#}
{#                                    <span class="views-count">#}
{#													<i class="fa fa-heart" aria-hidden="true"></i>#}
{#													<span class="item-likes-count">300</span>#}
{#												</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>


                    <div class="item-content">
                        <!-- .entry-header -->

                        <div class="entry-content">
                            <p>
                                {{ object.content|safe }}

                            </p>

                            {#										<p>#}
                            {#											Andouille rump beef ribs, drumstick landjaeger strip steak ground round tri-tip t-bone porchetta fatback venison boudin. Shank kielbasa turducken bacon shoulder. Shank alcatra bacon, jowl chicken leberkas short ribs short loin flank. Rump salami turducken, flank drumstick sausage pork loin beef boudin. Chicken pork belly salami turkey chuck jowl pork.#}
                            {##}
                            {#										</p>#}


                            <!-- #respond -->

                        </div>
                    </div>
                </article>
            </main>

        </div>

        </div>
    </section>
{% endblock %}