{% extends 'base-index.html' %}
{% load thumbnail %}
{% load static %}

{#{% block content %}#}
{##}
{#{% endblock %}#}

{% block content1 %}

        <section class="page_slider">
            <div class="flexslider vertical home_slider">
                <ul class="slides">
                    <li class="ds s-overlay cover-image text-center">
							<span class="social-icons animate" data-animation="fadeInUp">
								<a href="#" class="fa fa-facebook bg-light border-icon rounded-icon"
                                   title="facebook"></a>
								<a href="#" class="fa fa-twitter bg-light border-icon rounded-icon" title="twitter"></a>
								<a href="#" class="fa fa-google-plus bg-light border-icon rounded-icon"
                                   title="google"></a>
							</span>
                        <video muted loop id="myVideo">
                            <source src="images/Travel_Stock_Footage_Reel-HD_4K_Royalty-free.mp4" data-time="74"
                                    type="video/mp4">
                        </video>
                        <img src="{% static 'images/slide01.jpg' %}" alt="img">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="intro_layers_wrapper intro_text_bottom">
                                        <div class="intro_layers">
                                            <div class="intro-layer">
                                                <span class="small-text color-main3">we are hiking and outdoor club</span>
                                            </div>
                                            <div class="intro-layer mt-10">
                                                <h2><span class="semibold">Let's Enjoy</span> the Wonders of the Nature
                                                    <span class="semibold">Together</span></h2>
                                            </div>
                                            <div class="divider-35 hidden-below-sm"></div>
                                            <div class="intro-layer hidden-below-sm">
                                                <p>Prosciutto tail venison burgdoggen hamburger frankfurter pork picanha
                                                    landjaeger. Chicken ham hock picanha meatloaf kielbasa sausage
                                                    bresaol</p>
                                            </div>
                                            <div class="divider-xl-50"></div>
                                            <div class="divider-30 hidden-xl"></div>
                                            <div class="intro-layer ">
                                                <button class="btn-play">
                                                    <i class="fa fa-play"></i>
                                                    <i class="fa fa-pause"></i>
                                                </button>
                                            </div>
                                        </div> <!-- eof .intro_layers -->
                                    </div> <!-- eof .intro_layers_wrapper -->
                                </div> <!-- eof .col-* -->
                            </div><!-- eof .row -->
                        </div><!-- eof .container-fluid -->
                    </li>
                    <li class="ds s-overlay cover-image text-center">
							<span class="social-icons animate" data-animation="fadeInUp">
								<a href="#" class="fa fa-facebook bg-light border-icon rounded-icon"
                                   title="facebook"></a>
								<a href="#" class="fa fa-twitter bg-light border-icon rounded-icon" title="twitter"></a>
								<a href="#" class="fa fa-google-plus bg-light border-icon rounded-icon"
                                   title="google"></a>
							</span>
                        <img src="images/slide02.jpg" alt="img">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="intro_layers_wrapper intro_text_bottom">
                                        <div class="intro_layers">
                                            <div class="intro-layer">
                                                <span class="small-text color-main3">we are hiking and outdoor club</span>
                                            </div>
                                            <div class="intro-layer mt-10">
                                                <h2><span class="semibold">It Feels Good</span> to Be Lost In
                                                    The Right <span class="semibold">Direction</span></h2>
                                            </div>
                                            <div class="divider-35 hidden-below-sm"></div>
                                            <div class="intro-layer hidden-below-sm">
                                                <p>Prosciutto tail venison burgdoggen hamburger frankfurter pork picanha
                                                    landjaeger. Chicken ham hock picanha meatloaf kielbasa sausage
                                                    bresaol</p>
                                            </div>
                                            <div class="divider-xl-50"></div>
                                            <div class="divider-30 hidden-xl"></div>
                                            <div class="intro-layer ">
                                                <a href="about.html" class="btn btn-maincolor">about us</a>
                                            </div>
                                        </div> <!-- eof .intro_layers -->
                                    </div> <!-- eof .intro_layers_wrapper -->
                                </div> <!-- eof .col-* -->
                            </div><!-- eof .row -->
                        </div><!-- eof .container-fluid -->
                    </li>
                    <li class="ds s-overlay cover-image text-center">
							<span class="social-icons animate" data-animation="fadeInUp">
								<a href="#" class="fa fa-facebook bg-light border-icon rounded-icon"
                                   title="facebook"></a>
								<a href="#" class="fa fa-twitter bg-light border-icon rounded-icon" title="twitter"></a>
								<a href="#" class="fa fa-google-plus bg-light border-icon rounded-icon"
                                   title="google"></a>
							</span>
                        <img src="images/slide03.jpg" alt="img">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="intro_layers_wrapper intro_text_bottom">
                                        <div class="intro_layers">
                                            <div class="intro-layer">
                                                <span class="small-text color-main3">we are hiking and outdoor club</span>
                                            </div>
                                            <div class="intro-layer mt-10">
                                                <h2><span class="semibold">It's Time</span> to Start Your
                                                    Amazing <span class="semibold">Adventures</span></h2>
                                            </div>
                                            <div class="divider-35 hidden-below-sm"></div>
                                            <div class="intro-layer hidden-below-sm">
                                                <p>Prosciutto tail venison burgdoggen hamburger frankfurter pork picanha
                                                    landjaeger. Chicken ham hock picanha meatloaf kielbasa sausage
                                                    bresaol</p>
                                            </div>
                                            <div class="divider-xl-50"></div>
                                            <div class="divider-30 hidden-xl"></div>
                                            <div class="intro-layer ">
                                                <a href="booking.html" class="btn btn-maincolor">book trip</a>
                                            </div>
                                        </div> <!-- eof .intro_layers -->
                                    </div> <!-- eof .intro_layers_wrapper -->
                                </div> <!-- eof .col-* -->
                            </div><!-- eof .row -->
                        </div><!-- eof .container-fluid -->
                    </li>
                </ul>
            </div> <!-- eof flexslider -->
        </section>
{% endblock %}