<nav class="top-nav">
									<ul class="nav sf-menu">


										<li>
											<a href="{% url 'home' %}">ГЛАВНАЯ</a>
										</li>

										<li>
											<a href="{% url 'shop' %}">МАГАЗИН</a>
                                            <i class="fa fa fa-caret-down"></i>

                                            <ul>
												<li>
													<a href="{% url 'shop' %}">Церковная Лавка</a>
												</li>
												<li>
													<a href="{% url 'records' %}">Записки</a>
												</li>
                                            </ul>
										</li>
                                        <li>
                                            <a href="{% url 'town_history' %}">История</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'attractions' %}">Достопремичательности</a>
                                        </li>
                                        <li>
											<a href="{% url 'blog' %}">НОВОСТИ</a>
										</li>
                                        {% if user.is_authenticated %}
                                        <li>
											<a href="">
{#                                                {{ user }}#}
{#                                            <i class="fa fa fa-caret-down"></i>#}
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            </a>
											<ul>
												<li>
													<a href="{% url 'cart' %}">Корзина</a>
												</li>
												<li>
													<a href="{% url 'history' %}">Заказы</a>
												</li>
												<li>
													<a href="{% url 'logout' %}">Выйти</a>
												</li>
											</ul>
										</li>
                                        {% else %}
                                            <li>
                                                <a href="{% url 'login' %}">ВОЙТИ</a>
                                            </li>
                                             <li>
                                                <a href="{% url 'register' %}">ЗАРЕГИСТРИРОВАТЬСЯ</a>
                                            </li>

                                        {% endif %}

									</ul>


								</nav>