{% extends 'base.html' %}
{% load thumbnail %}

{% block page-title %}
    Оформление Заказа
{% endblock %}

{% block content %}
    <section class="ls s-py-80 s-py-md-120 s-py-xl-160">
        <div class="container">
            <div class="row">

                <main class="col-lg-12">
                    <article id="post-1707" class="post-1707 page type-page status-publish hentry">
                        {% if is_empty %}
                        Заказ пуст
                        {% else %}
                        <main class="col-lg-12">

                            <table class="shop_table shop_table_responsive cart">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Название</th>
                                    <th class="product-price">Цена</th>
                                    <th class="product-quantity">Количество</th>
                                    <th class="product-subtotal">Всего</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for product_cart in order_items %}


                                    <tr class="cart_item">
                                        <td class="product-thumbnail">
                                            {% for image in product_cart.product.images.all %}
                                                <a href="{% url 'detail' pk=product_cart.product.id %}">
                                                    <img width="180" height="180"
                                                         src="{% thumbnail image.image 900x900 %}"
                                                         class="" alt="img">
                                                </a>
                                            {% endfor %}
                                        </td>

                                        <td class="product-name" data-title="Product">
                                            <a href="{% url 'detail' pk=product_cart.product.id %}">{{ product_cart.product.name }}</a>
                                        </td>

                                        <td class="product-price" data-title="Price">
												<span class="amount">
													<span>₽ </span>{{ product_cart.product.price }}
												</span>
                                        </td>

                                        <td class="product-subtotal" data-title="Total">
												<span class="amount">
													<span> </span>{{ product_cart.quantity }}
												</span>
                                        </td>
                                        <td class="product-subtotal" data-title="Total">
												<span class="amount">
													<span>₽ </span>{{ product_cart.total_price }}
												</span>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </main>
                        <hr>
                        <div class="row pt-4">
                            <div class="col-md-6">
                                <div id="ecom-widget" style="height: 400px; width: 500px"></div>
                                <p>Укажите адрес доставки</p>
                            </div>
                            <div class="col-md-6">
                                <h6>Стоимость заказа: {{ total_sum }}р</h6>
                                <h6>Стоимость доставки: <span id="delivery-cost"></span>р
                                    {% if not delivery_cost %}
                                        <span style="color: red" id="address-error"><br>Не указан адрес доставки</span>
                                    {% endif %}
                                </h6>
                                <h6>ИТОГО: <span id="total"></span>р</h6>
                                <form action="{% url 'make_order_submit' %}" method="post" id="order-form">
                                    {% csrf_token %}
                                    <div class="wc-proceed-to-checkout">
                                      <input type="text" id="first-name" name="first_name" placeholder="Имя" required>
                                      <input type="text" id="last-name" name="last_name" placeholder="Фамилия" required>
                                        <button type="submit" class="btn btn-outline-maincolor mt-30"
                                                id="submit-btn"
                                                name="pay" {% if not delivery_cost %}disabled="disabled"{% endif %}>
                                            Оплатить
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                    </article>
                </main>
            </div>
        </div>
    </section>

{% endblock %}

{% block head %}

    <script src="https://widget.pochta.ru/map/widget/widget.js"></script>

{% endblock %}

{% block scripts %}
    <script>

        let total_sum = {{ total_sum }};
        let delivery_cost = {{delivery_cost}};



        function set_address(data) {
            let firstName = document.getElementById("first-name").value;
            let lastName = document.getElementById("last-name").value;
            data['recipient_info'] = {
                  "first_name": firstName,
                  "last_name": lastName,
                };
            let d = window.btoa(unescape(encodeURIComponent(JSON.stringify(data))))
            $.ajax({
                url: '{% url 'update_cart' %}',
                type: 'POST',
                data: {
                    delivery_info: d,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'text',
                    success: function (result) {
                }
            });

            delivery_cost = Math.floor(data.cashOfDelivery / 100);
            compute_total()
             if (delivery_cost > 0) {
                $('#submit-btn').prop('disabled', false);
                $('#address-error').hide();
            } else {
                $('#submit-btn').prop('disabled', true);
                $('#address-error').show();
    }
        }

        function compute_total() {
            let total = total_sum + delivery_cost;
            console.log(total)
            $("#delivery-cost").html(delivery_cost)
            $("#total").html(total)
        }

        $(document).ready(() => {
            ecomStartWidget({
                id: 45145,
                callbackFunction: set_address,
                containerId: 'ecom-widget'
            });
            compute_total()
        })
    </script>
{% endblock %}