{% extends 'base.html' %}
{% block page-title %}
    Детали Заказа
{% endblock %}
{% block content %}

    <section class="ls s-py-80 s-py-md-120 s-py-xl-160">
        <div class="container">
            <div class="row">

                <main class="col-lg-12">
                    <article id="post-1707" class="post-1707 page type-page status-publish hentry">
                        <header class="entry-header">
                            <h1 class="entry-title">Order status: {{ order.status }}</h1>
                            {#									<span class="edit-link">#}
                            {#										<a class="post-edit-link" href="#">Edit#}
                            {#											<span class="screen-reader-text"> "Checkout"#}
                            {#											</span>#}
                            {#										</a>#}
                            {#									</span>#}
                        </header>
                        <!-- .entry-header -->
                        <div class="entry-content mt-3">
                            <div class="woocommerce">
                                <div class="woocommerce-order">
                                    <p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">
                                        Thank you. Your order has been received.
                                    </p>

                                    <ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details">

                                        <li class="woocommerce-order-overview__order order">
                                            Order number: <strong>{{ order.payment_id }}</strong>
                                        </li>

                                        <li class="woocommerce-order-overview__date date">
                                            Date: <strong>{{ order.order_at }}</strong>
                                        </li>

                                        <li class="woocommerce-order-overview__total total">
                                        Total: <strong>
                                            <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol"></span>{{ order.computed_sum }}Р</span>
                                        </strong>
                                        </li>



                                    </ul>


                                    <section class="woocommerce-order-details">

                                        <h4 class="woocommerce-order-details__title">Order details</h4>

                                        <table class="woocommerce-table woocommerce-table--order-details shop_table order_details">

                                            <thead>
                                            <tr>
                                                <th class="woocommerce-table__product-name product-name">Product</th>
                                                <th class="woocommerce-table__product-table product-total">Total</th>
                                            </tr>
                                            </thead>

                                            <tbody>

{#                                            	сделать цикл for и создать список объектов по типу product_list#}

                                            <tr class="woocommerce-table__line-item order_item">

                                                <td class="woocommerce-table__product-name product-name">
                                                    <a href="shop-product-right.html">Premium Quality</a> <strong
                                                        class="product-quantity">× 1</strong>
                                                </td>

                                                <td class="woocommerce-table__product-total product-total">
																<span class="woocommerce-Price-amount amount">
																	<span class="woocommerce-Price-currencySymbol">$</span>12.00</span>
                                                </td>

                                            </tr>




                                            </tbody>

                                            <tfoot>
                                            <tr>
                                                <th scope="row">Subtotal:</th>
                                                <td>
																<span class="woocommerce-Price-amount amount">
																	<span class="woocommerce-Price-currencySymbol">$</span>45.00</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Payment method:</th>
                                                <td>Cash on delivery</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Total:</th>
                                                <td>
																<span class="woocommerce-Price-amount amount">
																	<span class="woocommerce-Price-currencySymbol">$</span>45.00</span>
                                                </td>
                                            </tr>
                                            </tfoot>

                                        </table>


                                        <section class="woocommerce-customer-details">

                                            <h4>Customer details</h4>

                                            <table class="woocommerce-table woocommerce-table--customer-details shop_table customer_details">


                                                <tbody>
                                                <tr>
                                                    <th>Email:</th>
                                                    <td>
                                                        <a href="https://html.modernwebtemplates.com/cdn-cgi/l/email-protection"
                                                           class="__cf_email__"
                                                           data-cfemail="accdc8c1c5c2ecd8c9dfd882cfc3c1">[email&#160;protected]</a>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>Phone:</th>
                                                    <td>+1300551555</td>
                                                </tr>


                                                </tbody>
                                            </table>


                                            <h4 class="woocommerce-column__title">Billing address</h4>

                                            <address>
                                                John Doe<br>Baker Street, 231<br>London<br>United Kingdom<br>47000
                                            </address>


                                        </section>

                                    </section>


                                </div>
                            </div>
                        </div>
                        <!-- .entry-content -->
                    </article>

                </main>
            </div>

            <div class="mt--25"></div>

        </div>
    </section>

{% endblock %}