{% if page_obj.has_other_pages %}

    <nav class="woocommerce-pagination mt-30">
        <ul class="page-numbers">
            {% if page_obj.has_previous %}
                <li>
                    <a class="prev page-numbers" href="?page={{ page_obj.previous_page_number }}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_obj.number == page_number %}
                    <span class="page-numbers current">{{ page_number }} </span>
                {% else %}
                    <a href="?page={{ page_number }}{% if q %}&q={{ q }}{% endif %}" class="btn btn-outline-primary">
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li>
                    <a class="next page-numbers" href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
