{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}

{#    <section class="page_title ds s-py-5">#}
{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#                <div class="col-md-12 text-center">#}
{#                    <h1 class="bold">Shop Product with Right Sidebar</h1>#}
{#                    <ol class="breadcrumb">#}
{#                        <li class="breadcrumb-item">#}
{#                            <a href="index.html">Home</a>#}
{#                        </li>#}
{#                        <li class="breadcrumb-item">#}
{#                            <a href="#">Shop</a>#}
{#                        </li>#}
{#                        <li class="breadcrumb-item active">#}
{#                            Shop Product with Right Sidebar#}
{#                        </li>#}
{#                    </ol>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    </div>


    <section class="ls s-py-80 s-py-md-120 s-py-xl-160">
        <div class="container">
            <div class="row">

                <main class="col-12">
                    <div class="product">

                        <div class="images" data-columns="4">
                            <figure>
                                {% for image in images %}



                                    <div data-thumb="{% thumbnail image.image 1080x720 %}">
                                        <a href="{% thumbnail image.image 1080x720 %}">
                                            <img src="{% thumbnail image.image 1080x720 %}" alt="img" data-caption=""
                                                 data-src="{% thumbnail image.image 1080x720 %}"
                                                 data-large_image="{% thumbnail image.image 1080x720 %}"
                                                    {#                                                 data-large_image_width="1080" data-large_image_height="720">#}>
                                        </a>
                                    </div>
                                {% endfor %}

                                {#										<div data-thumb="images/shop/11_back.jpg">#}
                                {#											<a href="images/shop/11_back.jpg">#}
                                {#												<img src="images/shop/11_back.jpg" alt="img" data-caption="" data-src="images/shop/11_back.jpg" data-large_image="images/shop/11_back.jpg" data-large_image_width="1000" data-large_image_height="1000">#}
                                {#											</a>#}
                                {#										</div>#}
                                {#										<div data-thumb="images/shop/10_back.jpg">#}
                                {#											<a href="images/shop/10_back.jpg">#}
                                {#												<img src="images/shop/10_back.jpg" alt="img" data-caption="" data-src="images/shop/10_back.jpg" data-large_image="images/shop/10_back.jpg" data-large_image_width="1000" data-large_image_height="1000">#}
                                {#											</a>#}
                                {#										</div>#}
                                {#										<div data-thumb="images/shop/10.jpg">#}
                                {#											<a href="images/shop/10.jpg">#}
                                {#												<img src="images/shop/10.jpg" alt="img" data-caption="" data-src="images/shop/10.jpg" data-large_image="images/shop/10.jpg" data-large_image_width="1000" data-large_image_height="1000">#}
                                {#											</a>#}
                                {#										</div>#}


                            </figure>
                        </div>

                        <div class="summary entry-summary">
                            <div class="divider-40"></div>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating">
                                    <span style="width:60%">Rated <strong
                                            class="rating">3</strong> out of 5 based on <span class="rating">3</span> customer ratings</span>
                                </div>
                                <p class="price">
											<span class="color-main3">
												<span>P</span>{{ object.price }}
											</span>
                                </p>
                            </div>
                            <h1 class="product_title entry-title">{{ object.name }}</h1>
                            <div>
                                <p>{{ object.description }}</p>
                            </div>

                            <div class="product_meta">
										<span class="posted_in">Categories:
											<a href="shop-.html" rel="tag">T-shirts</a>,
											<a href="shop-.html" rel="tag">man</a>,
											<a href="shop-.html" rel="tag">logo</a>
										</span>
                                <span class="tagged_as">Tags: <a href="shop-.html" rel="tag">clothing</a></span>


                            </div>

                            <form>

                                <table class="variations">
                                    <tbody>
                                    <tr>

                                        <td class="value">
                                            <label for="pa_color">Color</label>
                                            <select id="pa_color" class="wc-default-select" name="attribute_pa_color"
                                                    data-attribute_name="attribute_pa_color">
                                                <option value="">Show all</option>
                                                <option value="blue" class="attached enabled">Blue</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td class="value">
                                            <label for="pa_size">Size</label>
                                            <select id="pa_size" class="wc-default-select" name="attribute_pa_size"
                                                    data-attribute_name="attribute_pa_size">
                                                <option value="">Show all</option>
                                                <option value="x-small" class="attached enabled">X Small</option>
                                                <option value="small" class="attached enabled">Small</option>
                                                <option value="medium" class="attached enabled">Medium</option>
                                                <option value="large" class="attached enabled">Large</option>
                                                <option value="x-large" class="attached enabled">X Large</option>
                                                <option value="xx-large" class="attached enabled">XX Large</option>
                                                <option value="xxx-large" class="attached enabled">XXX Large</option>
                                            </select>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                                <div class="single_variation_wrap">
                                    <div>
                                        <div class="quantity">
                                            <input type="button" value="+" class="plus">
                                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                                            <input type="number" class="input-text qty text" step="1" min="1" max="1000"
                                                   name="quantity" value="1" title="Qty" size="4">
                                            <input type="button" value="-" class="minus">
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </div>
{#                                                                                <button type="submit" class="single_add_to_cart_button button alt">Add to cart#}
{#                                                                                </button>#}
                                        <form method="post" class = "single_add_to_cart_button button alt" action="{% url 'add_to_cart' product.id %}">
                                            {% csrf_token %}
                                            <input type="submit" value="Add to cart">
                                        </form>
                                    </div>
                                </div>


                            </form>

                        </div>
                        <!-- .summary -->

                        <!--
IF WE WANT to create bootstrap tabs:
in WordPress theme We shall override tabs template
adding 'nav nav-tabs' to 'ul.tabs'
adding 'nav-item' to 'li'
adding 'nav-link' to 'a'
wrap all tabs to tab-content
but .active is turns not on A but on LI, not as in bootstrap
-->
{#                        <div class="woocommerce-tabs wc-tabs-wrapper">#}
{##}
{#                            <ul class="tabs wc-tabs" role="tablist">#}
{#                                <li class="description_tab" id="tab-title-description" role="tab"#}
{#                                    aria-controls="tab-description">#}
{#                                    <a href="#tab-description">Description</a>#}
{#                                </li>#}
{#                                <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">#}
{#                                    <a href="#tab-reviews">Reviews (5)</a>#}
{#                                </li>#}
{#                            </ul>#}
{##}
{#                            <div class="panel wc-tab" id="tab-description" role="tabpanel"#}
{#                                 aria-labelledby="tab-title-description">#}
{#                                <p>#}
{#                                    Tail pastrami beef, meatloaf tongue salami chicken alcatra pork belly shoulder#}
{#                                    sausage spare ribs shankle. Pork chop swine ham hock, alcatra kevin tail pig.#}
{#                                    Meatloaf beef ribs jerky, alcatra chuck chicken drumstick ham landjaeger meatball#}
{#                                    swine salami boudin spare ribs shankle. Pork tongue meatball frankfurter.#}
{#                                </p>#}
{#                                <p>#}
{#                                    Beef salami short loin ribeye landjaeger pig cupim. Corned beef pork loin cupim,#}
{#                                    tri-tip jowl venison porchetta picanha shankle pork meatball. Brisket jerky flank,#}
{#                                    meatloaf pork buffalo andouille porchetta. Meatball ribeye ground round, kevin#}
{#                                    sausage venison landjaeger salami turducken chuck pork chop shankle rump.#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="panel wc-tab" id="tab-reviews" role="tabpanel"#}
{#                                 aria-labelledby="tab-title-reviews">#}
{#                                <div id="reviews">#}
{#                                    <div id="comments">#}
{#                                        <h2>5 reviews for <span>Ship Your Idea</span>#}
{#                                        </h2>#}
{##}
{##}
{#                                        <ol class="commentlist">#}
{#                                            <li class="comment">#}
{#                                                <article class="comment-body">#}
{#                                                    <footer class="comment-meta">#}
{#                                                        <div class="comment-author vcard">#}
{#                                                            <img alt="img" src="images/events/comment_1.jpg">#}
{#                                                            <h4>Frederick Hawkins</h4>#}
{#                                                            <span class="reply">#}
{#																		<a rel="nofollow"#}
{#                                                                           class="comment-reply-link small-text"#}
{#                                                                           href="#respond"#}
{#                                                                           aria-label="Reply to John Doe">reply</a>#}
{#																	</span>#}
{#                                                            <span class="small-text">#}
{#																		<i class="fa fa-calendar color-main"></i>#}
{#																		20 mar, 18 at 18:13#}
{#																	</span>#}
{#                                                        </div>#}
{#                                                        <!-- .comment-author -->#}
{#                                                        <!-- .comment-metadata -->#}
{#                                                    </footer>#}
{#                                                    <!-- .comment-meta -->#}
{##}
{#                                                    <div class="comment-content">#}
{#                                                        <p>Tenderloin ground round beef ribs, bresaola shoulder ham hock#}
{#                                                            pig turkey sirloin. Cow cupim bresaola pastrami. Pig flank#}
{#                                                            buffalo.</p>#}
{#                                                    </div>#}
{#                                                    <!-- .comment-content -->#}
{##}
{##}
{#                                                </article>#}
{##}
{#                                            </li>#}
{#                                            <li class="comment">#}
{#                                                <article class="comment-body">#}
{#                                                    <footer class="comment-meta">#}
{#                                                        <div class="comment-author vcard">#}
{#                                                            <img alt="img" src="images/events/comment_2.jpg">#}
{#                                                            <h4>Maggie Hamilton</h4>#}
{#                                                            <span class="reply">#}
{#																		<a rel="nofollow"#}
{#                                                                           class="comment-reply-link small-text"#}
{#                                                                           href="#respond"#}
{#                                                                           aria-label="Reply to John Doe">reply</a>#}
{#																	</span>#}
{#                                                            <span class="small-text text-left">#}
{#																		<i class="fa fa-calendar color-main"></i>#}
{#																		20 mar, 18 at 18:28#}
{#																	</span>#}
{#                                                        </div>#}
{#                                                        <!-- .comment-author -->#}
{#                                                        <!-- .comment-metadata -->#}
{#                                                    </footer>#}
{#                                                    <!-- .comment-meta -->#}
{##}
{#                                                    <div class="comment-content">#}
{#                                                        <p>Corned beef turducken strip steak tenderloin filet mignon,#}
{#                                                            pork belly tri-tip buffalo landjaeger tail beef#}
{#                                                            shoulder. </p>#}
{#                                                    </div>#}
{#                                                    <!-- .comment-content -->#}
{##}
{##}
{#                                                </article>#}
{##}
{#                                            </li>#}
{#                                            <li class="comment">#}
{#                                                <article class="comment-body">#}
{#                                                    <footer class="comment-meta">#}
{#                                                        <div class="comment-author vcard">#}
{#                                                            <img alt="img" src="images/events/comment_3.jpg">#}
{#                                                            <h4>Lucas Neal</h4>#}
{#                                                            <span class="reply">#}
{#																		<a rel="nofollow"#}
{#                                                                           class="comment-reply-link small-text"#}
{#                                                                           href="#respond"#}
{#                                                                           aria-label="Reply to John Doe">reply</a>#}
{#																	</span>#}
{#                                                            <span class="small-text text-left">#}
{#																		<i class="fa fa-calendar color-main"></i>#}
{#																		20 mar, 18 at 18:36#}
{#																	</span>#}
{#                                                        </div>#}
{#                                                        <!-- .comment-author -->#}
{#                                                        <!-- .comment-metadata -->#}
{#                                                    </footer>#}
{#                                                    <!-- .comment-meta -->#}
{##}
{#                                                    <div class="comment-content">#}
{#                                                        <p>Tri-tip frankfurter sirloin beef t-bone landjaeger shoulder#}
{#                                                            pancetta meatloaf prosciutto.</p>#}
{#                                                    </div>#}
{#                                                    <!-- .comment-content -->#}
{##}
{##}
{#                                                </article>#}
{##}
{#                                            </li>#}
{#                                            <li class="comment">#}
{#                                                <article class="comment-body">#}
{#                                                    <footer class="comment-meta">#}
{#                                                        <div class="comment-author vcard">#}
{#                                                            <img alt="img" src="images/events/comment_4.jpg">#}
{#                                                            <h4>Timothy Bawerman</h4>#}
{#                                                            <span class="reply">#}
{#																		<a rel="nofollow"#}
{#                                                                           class="comment-reply-link small-text"#}
{#                                                                           href="#respond"#}
{#                                                                           aria-label="Reply to John Doe">reply</a>#}
{#																	</span>#}
{#                                                            <span class="small-text">#}
{#																		<i class="fa fa-calendar color-main"></i>#}
{#																		20 mar, 18 at 18:13#}
{#																	</span>#}
{#                                                        </div>#}
{#                                                        <!-- .comment-author -->#}
{#                                                        <!-- .comment-metadata -->#}
{#                                                    </footer>#}
{#                                                    <!-- .comment-meta -->#}
{##}
{#                                                    <div class="comment-content">#}
{#                                                        <p>Aliquam sodales, diam dictum rhoncus laoreet, metus velit#}
{#                                                            viverra tellus, non gravida est odio in risus.</p>#}
{#                                                    </div>#}
{#                                                    <!-- .comment-content -->#}
{##}
{##}
{#                                                </article>#}
{##}
{#                                            </li>#}
{#                                            <li class="comment">#}
{#                                                <article class="comment-body">#}
{#                                                    <footer class="comment-meta">#}
{#                                                        <div class="comment-author vcard">#}
{#                                                            <img alt="img" src="images/events/comment_5.jpg">#}
{#                                                            <h4>Cornelia Graves</h4>#}
{#                                                            <span class="reply">#}
{#																		<a rel="nofollow"#}
{#                                                                           class="comment-reply-link small-text"#}
{#                                                                           href="#respond"#}
{#                                                                           aria-label="Reply to John Doe">reply</a>#}
{#																	</span>#}
{#                                                            <span class="small-text">#}
{#																		<i class="fa fa-calendar color-main"></i>#}
{#																		26 mar, 18 at 18:13#}
{#																	</span>#}
{#                                                        </div>#}
{#                                                        <!-- .comment-author -->#}
{#                                                        <!-- .comment-metadata -->#}
{#                                                    </footer>#}
{#                                                    <!-- .comment-meta -->#}
{##}
{#                                                    <div class="comment-content">#}
{#                                                        <p>Capicola hamburger corned beef andouille pork pork chop#}
{#                                                            buffalo shank ham hock kevin.</p>#}
{#                                                    </div>#}
{#                                                    <!-- .comment-content -->#}
{##}
{##}
{#                                                </article>#}
{##}
{#                                            </li>#}
{#                                            <!-- #comment-## -->#}
{#                                        </ol>#}
{##}
{##}
{#                                    </div>#}
{##}
{##}
{#                                    <div id="review_form_wrapper">#}
{#                                        <div id="review_form">#}
{#                                            <div id="respond" class="comment-respond">#}
{#														<span id="reply-title" class="comment-reply-title">Add a review <small>#}
{#																<a rel="nofollow" id="cancel-comment-reply-link"#}
{#                                                                   href="#respond"#}
{#                                                                   style="display:none;">Cancel reply</a>#}
{#															</small>#}
{#														</span>#}
{#                                                <form class="contact-form c-mb-20 c-gutter-20" method="post"#}
{#                                                      action="https://html.modernwebtemplates.com/">#}
{##}
{#                                                    <div class="row">#}
{##}
{#                                                        <div class="col-sm-4">#}
{#                                                            <div class="form-group has-placeholder">#}
{#                                                                <label for="name">Full Name <span#}
{#                                                                        class="required">*</span></label>#}
{#                                                                <input type="text" aria-required="true" size="30"#}
{#                                                                       value="" name="name" id="name"#}
{#                                                                       class="form-control" placeholder="Name">#}
{#                                                            </div>#}
{#                                                        </div>#}
{##}
{#                                                        <div class="col-sm-4">#}
{#                                                            <div class="form-group has-placeholder">#}
{#                                                                <label for="email">Email address<span#}
{#                                                                        class="required">*</span></label>#}
{#                                                                <input type="email" aria-required="true" size="30"#}
{#                                                                       value="" name="email" id="email"#}
{#                                                                       class="form-control" placeholder="Email">#}
{#                                                            </div>#}
{#                                                        </div>#}
{##}
{#                                                        <div class="col-sm-4">#}
{#                                                            <div class="form-group has-placeholder">#}
{#                                                                <label for="phone">Phone<span class="required">*</span></label>#}
{##}
{#                                                                <input type="text" aria-required="true" size="30"#}
{#                                                                       value="" name="phone" id="phone"#}
{#                                                                       class="form-control" placeholder="Number">#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{##}
{#                                                    <div class="row">#}
{##}
{#                                                        <div class="col-sm-12">#}
{##}
{#                                                            <div class="form-group has-placeholder">#}
{#                                                                <label for="message">Message</label>#}
{##}
{#                                                                <textarea aria-required="true" rows="4" cols="45"#}
{#                                                                          name="message" id="message"#}
{#                                                                          class="form-control"#}
{#                                                                          placeholder="Message"></textarea>#}
{#                                                            </div>#}
{#                                                        </div>#}
{##}
{#                                                    </div>#}
{##}
{#                                                    <div class="row">#}
{##}
{#                                                        <div class="col-sm-12 text-left">#}
{##}
{#                                                            <div class="form-group">#}
{#                                                                <button type="submit" id="contact_form_submit"#}
{#                                                                        name="contact_submit" class="btn btn-maincolor">#}
{#                                                                    Send Now#}
{#                                                                </button>#}
{#                                                            </div>#}
{#                                                        </div>#}
{##}
{#                                                    </div>#}
{##}
{#                                                </form>#}
{#                                            </div>#}
{#                                            <!-- #respond -->#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{##}
{#                                    <div class="clear">#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </div>#}


{#                        <section class="related products">#}
{##}
{#                            <h2 class="text-center">Related products</h2>#}
{##}
{#                            <ul class="products">#}
{##}
{#                                <li class="product">#}
{#                                    <a href="shop-product.html">#}
{##}
{#                                        <div class="img-wrap">#}
{#                                            <img src="images/shop/01.jpg" alt="img">#}
{#                                        </div>#}
{#                                        <div class="product-wrap">#}
{#                                            <div class="star-rating">#}
{#														<span style="width:60%">Rated <strong#}
{#                                                                class="rating">3.00</strong> out of 5</span>#}
{#                                            </div>#}
{#                                            <h2>Happy Ninja</h2>#}
{#                                            <span class="price">#}
{#														<span>#}
{#															<span>$</span>30.99#}
{#														</span>#}
{#													</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                    <a rel="nofollow" href="shop-cart.html"#}
{#                                       class="button product_type_simple add_to_cart_button">Add to#}
{#                                        cart</a>#}
{#                                </li>#}
{##}
{#                                <li class="product">#}
{#                                    <a href="shop-product.html">#}
{#												<span class="img-wrap">#}
{#													<img src="images/shop/09.jpg" alt="img">#}
{#												</span>#}
{#                                        <div class="product-wrap">#}
{#                                            <div class="star-rating">#}
{#														<span style="width:40%">Rated <strong#}
{#                                                                class="rating">3.00</strong> out of 5</span>#}
{#                                            </div>#}
{#                                            <h2>Flying Ninja</h2>#}
{#                                            <span class="price">#}
{#														<span>#}
{#															<span>$</span>14.99#}
{#														</span>#}
{#													</span>#}
{#                                        </div>#}
{##}
{#                                    </a>#}
{#                                    <a rel="nofollow" href="shop-cart.html"#}
{#                                       class="button product_type_simple add_to_cart_button">Add to#}
{#                                        cart</a>#}
{#                                </li>#}
{##}
{#                                <li class="product">#}
{#                                    <a href="shop-product.html">#}
{#                                        <div class="img-wrap">#}
{#                                            <img src="images/shop/03.jpg" alt="img">#}
{#                                        </div>#}
{#                                        <div class="product-wrap">#}
{#                                            <div class="star-rating">#}
{#														<span style="width:80%">Rated <strong#}
{#                                                                class="rating">4.00</strong> out of 5</span>#}
{#                                            </div>#}
{#                                            <h2>Patient Ninja</h2>#}
{#                                            <span class="price">#}
{#														<span>#}
{#															<span>$</span>75.99#}
{#														</span>#}
{#													</span>#}
{#                                        </div>#}
{##}
{#                                    </a>#}
{#                                    <a rel="nofollow" href="shop-cart.html"#}
{#                                       class="button product_type_simple add_to_cart_button">Add to#}
{#                                        cart</a>#}
{#                                </li>#}
{##}
{#                                <li class="product">#}
{#                                    <a href="shop-product.html">#}
{#                                        <div class="img-wrap">#}
{#                                            <img src="images/shop/25.jpg" alt="img">#}
{#                                        </div>#}
{#                                        <div class="product-wrap">#}
{#                                            <div class="star-rating">#}
{#														<span style="width:100%">Rated <strong#}
{#                                                                class="rating">5.00</strong> out of 5</span>#}
{#                                            </div>#}
{#                                            <h2>Patient Ninja</h2>#}
{#                                            <span class="price">#}
{#														<span>#}
{#															<span>$</span>155.99#}
{#														</span>#}
{#													</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                    <a rel="nofollow" href="shop-cart.html"#}
{#                                       class="button product_type_simple add_to_cart_button">Add to#}
{#                                        cart</a>#}
{#                                </li>#}
{##}
{#                                <li class="product">#}
{#                                    <a href="shop-product.html">#}
{#                                        <div class="img-wrap">#}
{#                                            <img src="images/shop/09_back.jpg" alt="img">#}
{#                                        </div>#}
{#                                        <div class="product-wrap">#}
{#                                            <div class="star-rating">#}
{#														<span style="width:80%">Rated <strong#}
{#                                                                class="rating">4.00</strong> out of 5</span>#}
{#                                            </div>#}
{#                                            <h2>Ninja Silhouette</h2>#}
{#                                            <span class="price">#}
{#														<span>#}
{#															<span>$</span>16.99#}
{#														</span>#}
{#													</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                    <a rel="nofollow" href="shop-cart.html"#}
{#                                       class="button product_type_simple add_to_cart_button">Add to#}
{#                                        cart</a>#}
{#                                </li>#}
{##}
{#                            </ul>#}
{##}
{#                        </section>#}


                    </div>
                    <!-- #product-22 -->


                </main>

            </div>

        </div>
    </section>

{% endblock %}