{% extends 'base.html' %}
{% load thumbnail %}

{% block head %}
{% endblock %}

{% block page-title %}
    ЗАПИСКИ
{% endblock %}

{% block content %}
    <section class="ls s-py-80 s-py-md-120 s-py-xl-160">
        <div class="container fix-top">

            <div class="row c-gutter-60">

                <main class="offset-lg-1 col-lg-10">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <p id="errorMessage" style="color: red;"></p>

                        <button type="submit" class="btn btn-outline-maincolor mt-30">Отправить</button>
                    </form>

                </main>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function(){
            let price_list = {
                5: 100,
                6: 200
            };

            $("#{{form.record_type.id_for_label}}").change(function(){
                let selectedOption = $(this).children("option:selected").val();
                if (price_list.hasOwnProperty(parseInt(selectedOption))) {
                    $("#{{form.price.id_for_label}}").val(price_list[selectedOption]).prop('disabled', true);
                }else{
                    $("#{{form.price.id_for_label}}").prop('disabled', false)
                }
            });
        });
    </script>

{% endblock %}