{% extends 'base.html' %}
{% load thumbnail %}

{% block head %}
{% endblock %}

{% block page-title %}
    ЗАПИСКИ
{% endblock %}

{% block content %}
    <section class="ls s-py-80 s-py-md-120 s-py-xl-160">
        <div class="container fix-top">

            <div class="row c-gutter-60">

                <main class="offset-lg-1 col-lg-10">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
{#                        <select id="tag-select">#}
{#                            <option value="tag1">Tag 1</option>#}
{#                            <option value="tag2">Tag 2</option>#}
{#                            <option value="tag3">Tag 3</option>#}
{#                        </select>#}

{#                        <p>Стоимость: <span id="wordCount">0</span></p>#}
                        <p id="errorMessage" style="color: red;"></p>

                        <button class="btn btn-outline-maincolor mt-30">Отправить</button>
                    </form>
                    <select id="tag-select" onchange="updatePrice()">
                            <option value="tag1">Панихида</option>
                            <option value="tag2">Молебен</option>
                            <option value="tag3">Сорокоуст</option>
                            <option value="tag4">Заказная</option>
                            <option value="tag5">Вечное поминовение</option>
                            <option value="tag6">Именной кирпичик</option>
                    </select>
                    <p>Цена: <span id="price">0</span></p><<
                </main>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
{#    <script>#}
{#    $("#tag-select").change(function () {#}
{#        var selectedTag = $(this).val();#}
{#        var tagValue;#}
{#    #}
{#        if (selectedTag === "tag1") {#}
{#            tagValue = "Value for tag 1";#}
{#        } else if (selectedTag === "tag2") {#}
{#            tagValue = "Value for tag 2";#}
{#        } else {#}
{#            tagValue = "Value for tag 3";#}
{#    }#}
{#    #}
{#        $.ajax({#}
{#            url: '{% url 'get_response' %}',#}
{#            data: {#}
{#              'selectedTag': tagValue#}
{#            },#}
{#            dataType: 'json',#}
{#            success: function (data) {#}
{#              // Обработка возвращаемых данных#}
{#            }#}
{#          });#}
{#        });#}
{#    </script>#}
<script>
    function updatePrice() {
        var selectedTag = document.getElementById("tag-select").value;
        var price = 0;

        // Здесь вы можете добавить логику для определения цены в зависимости от выбранного параметра
        if (selectedTag === "tag6") {
            price = 1000;
        } else if (selectedTag === "tag5") {
            price = 10000;
        } else if (selectedTag === "tag1") {
            price = 30;
        } else if (selectedTag === "tag2") {
            price = 30;
        } else if (selectedTag === "tag3") {
            price = 30;
        } else if (selectedTag === "tag4") {
            price = 30;
        }

        document.getElementById("price").innerText = price;
    }
</script>
    <script>

    function update_cost (){
            let words = this.value.replace(/[\t\n\r\.\?\!]/gm, " ").split(" ");
            let count = words.reduce((a, b) => a + (b.trim() !== ''), 0);
            let cost = {{record_info.cost}};
            let names_count = {{record_info.names_per_cost}};
            let total_cost = Math.ceil(count / names_count) * cost;
            document.querySelector("#wordCount").innerText = `${total_cost}р`;
            let errorMessage = document.querySelector("#errorMessage");
            errorMessage.innerText = "";
            for (let i = 0; i < words.length; i++) {
                if (words[i].length > {{record_info.max_word_length}}) { // get from db
                    $("#submit").prop("disabled", true)
                    errorMessage.innerText = "Ошибка: Слишком длинное слово";
                    return;
                }
            }
            $("#submit").prop("disabled", false);
        }
        document.querySelector("#{{ form.description.id_for_label }}").addEventListener("input", update_cost );

        $(document).ready(() => {
            {#update_cost()#}
         })
    </script>
{% endblock %}