{% extends 'base.html' %}
{% load thumbnail %}

{% block head %}
{% endblock %}

{% block page-title %}
    ЗАПИСКИ
{% endblock %}

{% block content %}
    <section class="ls s-py-80 s-py-md-120 s-py-xl-160">
        <div class="container fix-top">

            <div class="row c-gutter-60">

                <main class="offset-lg-1 col-lg-10">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <p id="errorMessage" style="color: red;"></p>

                        <button type="submit" class="btn btn-outline-maincolor mt-30">Отправить</button>
                    </form>

                </main>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
{#    <script>#}
{#    $("#tag-select").change(function () {#}
{#        var selectedTag = $(this).val();#}
{#        var tagValue;#}
{#    #}
{#        if (selectedTag === "tag1") {#}
{#            tagValue = "Value for tag 1";#}
{#        } else if (selectedTag === "tag2") {#}
{#            tagValue = "Value for tag 2";#}
{#        } else {#}
{#            tagValue = "Value for tag 3";#}
{#    }#}
{#    #}
{#        $.ajax({#}
{#            url: '{% url 'get_response' %}',#}
{#            data: {#}
{#              'selectedTag': tagValue#}
{#            },#}
{#            dataType: 'json',#}
{#            success: function (data) {#}
{#              // Обработка возвращаемых данных#}
{#            }#}
{#          });#}
{#        });#}
{#    </script>#}
{#<script>#}
{#    function updatePrice() {#}
{#        var selectedTag = document.getElementById("tag-select").value;#}
{#        var price = 0;#}
{##}
{#        // Здесь вы можете добавить логику для определения цены в зависимости от выбранного параметра#}
{#        if (selectedTag === "tag6") {#}
{#            price = 1000;#}
{#        } else if (selectedTag === "tag5") {#}
{#            price = 10000;#}
{#        } else if (selectedTag === "tag1") {#}
{#            var userInput = document.getElementById("user-input").value;#}
{#            price = parseInt(userInput);#}
{#        }#}
{#        else if (selectedTag === "tag2") {#}
{#            var userInput = document.getElementById("user-input").value;#}
{#            price = parseInt(userInput);#}
{#    }#}
{#        else if (selectedTag === "tag3") {#}
{#            var userInput = document.getElementById("user-input").value;#}
{#            price = parseInt(userInput);#}
{#    }#}
{#        else if (selectedTag === "tag4") {#}
{#            var userInput = document.getElementById("user-input").value;#}
{#            price = parseInt(userInput);#}
{#        }#}
{##}
{#        document.getElementById("price").innerText = price;#}
{#    }#}
{#</script>#}

{% endblock %}