{% extends 'base.html' %}
{% load thumbnail %}

{% block page-title %}
    CART
{% endblock %}


{% block head %}
    <style>
        .remove-btn {
            font-size: 2em;
        }
    </style>
{% endblock %}

{% block content %}



    <section class="ls s-py-80 s-py-md-120 s-py-xl-160">
        <div class="container">
            <div class="row">

                <main class="col-lg-12">


                    <form class="woocommerce-cart-form" action="{% url 'update_cart' %}" method="post" id="cart-form">
                        {% csrf_token %}
                        <table class="shop_table shop_table_responsive cart">
                            <thead>
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Total</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for product_cart in products %}


                                <tr class="cart_item">

                                    <td class="product-remove">
                                        <a href="{% url 'remove_cart_item' item_id=product_cart.id %}"
                                           class="remove-btn"
                                                {#                                           aria-label="Remove this item" #}
                                                {#                                           data-product_id="73"#}
                                                {#                                           data-product_sku=""#}
                                        >×</a>
                                    </td>
                                    <td class="product-thumbnail">
                                        {% for image in product_cart.product.images.all %}
                                            <a href="shop-product-right.html">
                                                <img width="180" height="180" src="{% thumbnail image.image 900x900 %}"
                                                     class="" alt="img">
                                            </a>
                                        {% endfor %}
                                    </td>

                                    <td class="product-name" data-title="Product">
                                        <a href="shop-product-right.html">{{ product_cart.product.name }}</a>
                                    </td>

                                    <td class="product-price" data-title="Price">
												<span class="amount">
													<span>P</span>{{ product_cart.product.price }}
												</span>
                                    </td>
                                    <td class="product-quantity" data-title="Quantity">
                                        <input type="button" value="+" class="plus">
{#                                        <i class="fa fa-angle-up" aria-hidden="true"></i>#}
                                        <input type="number" class="input-text qty text" step="1" min="1" max="1000"
                                               name="quantity-{{ product_cart.id }}" value="{{ product_cart.quantity }}"
                                               title="Qty" size="4">
                                        <input type="button" value="-" class="minus">
{#                                        <i class="fa fa-angle-down" aria-hidden="true"></i>#}

                                    </td>


                                    <td class="product-subtotal" data-title="Total">
												<span class="amount">
													<span>P</span>{{ product_cart.total_price }}
												</span>
                                    </td>
                                </tr>
                            {% endfor %}


                            <tr>
                                <td colspan="6" class="actions">

                                    <div class="coupon">

                                        <button type="submit" class="btn btn-maincolor" value="Update cart"
                                                name="update"
                                        >
                                            Сохранить корзину
                                        </button>
                                    </div>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </form>


                    <div class="wc-proceed-to-checkout">

                        {#                                <a href="" class="checkout-button button alt wc-forward">#}
                        {#                                    Сделать заказ</a>#}

{#                        <form method="post">#}
{#                            {% csrf_token %}#}
                            <button type="submit" form="cart-form" name="pay">Оплатить</button>
{#                        </form>#}

                    </div>


                </main>

            </div>

        </div>
    </section>


    <script>
        {#$(document).ready(function () {#}
        {#    $('.decrease, .increase').click(function () {#}
        {#        var $button = $(this);#}
        {#        var oldValue = $button.parent().find('input').val();#}
        {##}
        {#        if ($button.text() == "+") {#}
        {#            var newVal = parseFloat(oldValue) + 1;#}
        {#        } else {#}
        {#            if (oldValue > 1) {#}
        {#                var newVal = parseFloat(oldValue) - 1;#}
        {#            } else {#}
        {#                var newVal = 1;#}
        {#            }#}
        {#        }#}
        {##}
        {#        var productId = $button.parent().find('input').data('product-id');#}
        {#        $button.parent().find('input').val(newVal);#}
        {##}
        {#        $.post('/cart/update/', {product_id: productId, quantity: newVal}, function (response) {#}
        {#            if (response.result == 'ok') {#}
        {#$.redirect('cart/')#}
        {##}
        {##}
        {#            } else {#}
        {#                // Произошла ошибка#}
        {#            }#}
        {#        });#}
        {#    });#}
        {# });#}
    </script>
{% endblock %}