{% extends 'base.html' %}
{% load thumbnail %}

{% block page-title %}
    Корзина
{% endblock %}


{% block head %}
    <style>
        .remove-btn {
            font-size: 2em;
        }
    </style>
{% endblock %}

{% block content %}



    <section class="ls s-py-80 s-py-md-120 s-py-xl-160">
        <div class="container">
            <div class="row">

                <main class="col-lg-12">

                {% if products.count or records %}
                    <form class="woocommerce-cart-form" action="{% url 'update_cart' %}" method="post" id="cart-form">
                        {% csrf_token %}
                        <table class="shop_table shop_table_responsive cart">
                            <thead>
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name">Название</th>
                                <th class="product-price">Цена</th>
                                <th class="product-quantity">Количество</th>
                                <th class="product-subtotal">Всего</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for product_cart in products %}


                                <tr class="cart_item">

                                    <td class="product-remove">
                                        <a href="{% url 'remove_cart_item' item_id=product_cart.id %}"
                                           class="remove-btn"
                                                {#                                           aria-label="Remove this item" #}
                                                {#                                           data-product_id="73"#}
                                                {#                                           data-product_sku=""#}
                                        >×</a>
                                    </td>
                                    <td class="product-thumbnail">
                                        {% for image in product_cart.product.images.all %}
                                            <a href="{% url 'detail' pk=product_cart.product.id %}">
                                                <img width="180" height="180" src="{% thumbnail image.image 900x900 %}"
                                                     class="" alt="img">
                                            </a>
                                        {% endfor %}
                                    </td>

                                    <td class="product-name" data-title="Product">
                                        <a href="{% url 'detail' pk=product_cart.product.id %}">{{ product_cart.product.name }}</a>
                                    </td>

                                    <td class="product-price" data-title="Price">
												<span class="amount">
													<span>₽ </span>{{ product_cart.product.price }}
												</span>
                                    </td>
{#                                                                        <td class="product-quantity" data-title="Quantity">#}
{#                                                                            <input type="button" value="+" class="plus">#}
{#                                                                            <i class="fa fa-angle-up" aria-hidden="true"></i>#}
{#                                                                            <input type="number" class="input-text qty text" step="1" min="1" max="1000"#}
{#                                                                                   name="quantity-{{ product_cart.id }}" value="{{ product_cart.quantity }}"#}
{#                                                                                   title="Qty" size="4">#}
{#                                                                            <input type="button" value="-" class="minus">#}
{#                                                                            <i class="fa fa-angle-down" aria-hidden="true"></i>#}
{##}
{#                                                                        </td>#}
                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <input type="button" value="+" class="plus">
                                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                                            <input type="number" class="input-text qty text" step="1" min="1" max="1000"
                                                   name="quantity-{{ product_cart.id }}" value="{{ product_cart.quantity }}" title="Qty" size="4">
                                            <input type="button" value="-" class="minus">
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </div>
                                    </td>


                                    <td class="product-subtotal" data-title="Total">
												<span class="amount">
													<span>₽ </span>{{ product_cart.total_price }}
												</span>
                                    </td>
                                </tr>

                            {% endfor %}
                            {% for rec in records %}

                                <tr class="cart_item">

                                    <td class="product-remove">
                                        <a href="{% url 'del_rec' rec_id=rec.id %}"
                                           class="remove-btn"
                                                {#                                           aria-label="Remove this item" #}
                                                {#                                           data-product_id="73"#}
                                                {#                                           data-product_sku=""#}
                                        >×</a>
                                    </td>
                                    <td class="product-thumbnail">
                                        Записка
                                    </td>

                                    <td class="product-name" data-title="Product">
                                        <a href="{% url 'records' %}" class="btn btn-outline-maincolor mt-10" style="width: 30vw;">Изменить записку</a>
                                    </td>

                                    <td class="product-price" data-title="Price">
												<span class="amount">
													<span>₽ </span>{{ rec.cost }}
												</span>
                                    </td>
                                    <td class="product-quantity" data-title="Quantity">
{#                                        <div class="quantity">#}
{#                                            <input type="button" value="+" class="plus">#}
{#                                            <i class="fa fa-angle-up" aria-hidden="true"></i>#}
{#                                            <input type="number" class="input-text qty text" step="1" min="1" max="1000"#}
{#                                                   name="quantity-{{ product_cart.id }}" value="{{ product_cart.quantity }}" title="Qty" size="4">#}
{#                                            <input type="button" value="-" class="minus">#}
{#                                            <i class="fa fa-angle-down" aria-hidden="true"></i>#}
{#                                        </div>#}
                                        —
                                    </td>


                                    <td class="product-subtotal" data-title="Total">
												<span class="amount">
													<span>₽ </span>{{ product_cart.total_price }}
												</span>
                                    </td>
                                </tr>

                            {% endfor %}


                            <tr>
                                <td colspan="6" class="actions">

                                    <div class="coupon">

                                        <button type="submit" class="btn btn-outline-maincolor" value="Update cart"
                                                name="update"
                                        >
                                            Сохранить корзину
                                        </button>
                                    </div>

                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </form>

                    <div class="wc-proceed-to-checkout">
                        <a href="{% url 'make_order' %}" class="btn btn-outline-maincolor mt-30">Оформить заказ</a>
                    </div>
                {% else %}
                    <div class="text-center pt-5 pb-5">
                        <h4 style="text-transform: unset;">Нет товаров в корзине</h4>
                        <a href="{% url 'shop' %}" class="btn btn-outline-maincolor mt-4">Вернуться в магазин <i class="fa fa-arrow-right pl-2"></i></a>
                    </div>

                {% endif %}


                </main>

            </div>

        </div>
    </section>
{% endblock %}