  <div class="row pb-3">
    <div class="col-md-6">
      <span class="woocommerce-result-count"></span>
    </div>
    <div class="col-md-6">
    <form role="search" class="woocommerce-product-search form-inline float-right" action="{% url 'shop' %}">
        <input type="search" id="woocommerce-product-search-field-widget" class="search-field pr-3"
               value="{{ q }}"
                       placeholder="Найти..." name="q">
        <button class="btn btn-xs btn-outline-secondary">Найти</button>
    </form>
    </div>
  </div>


